/*
GitLab colors

black: #231f20
gray: #cccccc
orange, dark: #e24329
orange, medium: #fc6d26
orange, light: #fca326
purple, dark: #554488

*/


div#container {
  columns: 3;
}

/* overrides for milligram CSS */
body {
  background-color: #231f20;
  color: #cccccc;
}

button {
  line-height: inherit !important;
}


/* overrides for community inviter */
#CommunityInviter input {
  background-color: #cccccc;
  font-size: 1.4em;
  text-align: center;
  border: 1px solid #554488;
}
#CommunityInviter button {
  background-color: #e24329 !important;
  border: 1px solid #554488 !important;
}
